#division {background: #cbd1bd; padding: 100px 100px 200px 100px; }
#image {float: left; margin-right: 20px;margin-left: 0px}
#b1 {background-color: #d7dde5}
#paragraph {font-family: Georgia, 'Times New Roman', Times, serif}
.right {float: right; margin-left: 20px}
#left {float: left; margin-left: 30px}
#form {margin: 100px 100px 100px 100px}
#contract {padding: 20px; width: 700px; background-color: whitesmoke;}
#c2 {color: #1e997c;}
#c3 {border: 30px; color: white; background-color: #1e997c;}
#line {width: 700px;padding: 1px; background-color: gray; margin-bottom: 20px}